.sidebar {
	width: 275px;
	/*background-color: #f9f9f9;*/
	padding: 22px;
	display: flex;
	flex-direction: column;
	height: 100vh;
	background: rgba(255, 255, 255, 0.4); /* Полупрозрачный фон */
	backdrop-filter: blur(15px); /* Эффект размытия фона */
	border-radius: 20px; /* Скругленные углы */
	border: 1px solid rgba(255, 255, 255, 0.5); /* Светлая рамка */
	box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1); /* Добавлена тень для контраста */
}

.sidebar-nav ul {
	list-style: none;
}

.sidebar-nav ul li {
	display: flex;
	align-items: center;
	padding: 5px 0;
	cursor: pointer;
	color: #333;
	
}

.sidebar-nav ul li svg {
	margin-right: 10px;

}
.sidebar-nav ul li:nth-child(3) .button-hover-effect {
	margin-left: 2px;
}


.projects-nav li {
	margin-left: 30px;
	position: relative;
	padding-left: 25px; /* Отступ для кружочка */
	list-style: none;
}
.projects-nav li:nth-child(1) {
	margin-top: 15px;
	
}

.projects-nav li::before {
	content: '';
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-right: 10px;
	background-color: currentColor; /* Use the current text color */
}

.project-1::before {
	color: #76A5EA; /* Initial color for Project 1 */
}

.project-2::before {
	color: #E4CCFD; /* Initial color for Project 2 */
}

.project-3::before {
	color: #7AC555; /* Initial color for Project 3 */
}

.project-4::before {
	color: #FFA500; /* Initial color for Project 4 */
}

.sidebar-settings {
	padding-top: 20px;
	border-top: 1px solid #ddd;
	display: flex;
	align-items: center;
	cursor: pointer;

}

.new-project{
	margin-top: auto;
	padding-bottom: 30px;
	
}

.new-project-button {
	width: 100%; /* Set the width to 100% of the parent container */
	background: rgba(255, 255, 255, 0.4);
	backdrop-filter: blur(10px);
	border: 1px solid rgba(255, 255, 255, 0.2);
}

/* Sidebarr.jsx.css */
.button-hover-effect {
	background-color: transparent !important; /* Ensure the button is transparent */
	display: flex;
	align-items: center;
	width: 100%;
	padding: 10px;
	border: none;
	text-align: left;
	transition: background 0.3s;
}

.button-hover-effect:hover {
	background-color: #e2e8f0 !important; /* Ensure the hover background color is applied */
}

.button-hover-effect h3 {
	flex: 1;
}