@tailwind base;
@tailwind components;
@tailwind utilities;
.text-small { font-size: 0.875rem; }
.text-normal { font-size: 1rem; }
.text-large { font-size: 1.25rem; }

/* Стили для активной кнопки */
.active-button {
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); /* Тень */
}

.inactive-button:hover {
	background-color: #f3f4f6; /* Светло-серый фон при наведении */
}




#editor {
	height: calc(100% - 42px);
	background: white;
}

.ql-toolbar.ql-snow {
	border: 1px solid #e2e8f0 !important;
	border-radius: 6px 6px 0 0;
	background: white;
}

.ql-container.ql-snow {
	height: calc(100% - 42px);
	border: 1px solid #e2e8f0 !important;
	border-top: none !important;
	border-radius: 0 0 6px 6px;
	background: white;
}

.ql-editor {
	height: 100%;
	font-family: inherit;
	font-size: 16px;
}

.ql-editor.ql-blank::before {
	color: #9ca3af;
	font-style: normal;
}

.ql-container.ql-snow {
	border: 1px solid #e2e8f0 !important;
	border-top: none !important;
	border-radius: 0 0 6px 6px;
}

.ql-editor:focus {
	outline: none !important;
	box-shadow: none !important;
}

/* Убираем синюю рамку при фокусе */
.ql-editor.focused {
	border-color: #e2e8f0 !important;
	box-shadow: none !important;
	outline: none !important;
}

/* Дополнительно для всего контейнера */
.ql-container:focus-within {
	outline: none !important;
	box-shadow: none !important;
	border-color: #e2e8f0 !important;
}






